#remove all other datasets other than the example one
data/*
!data/dataset_name/
!data/dataset_name/**

# ------------------------------------------

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# ------------------------------------------

# Ignore everything in the subfolders
/test_output/evaluation/*
/test_output/logs/*
/test_output/models/*
/test_output/test/*
/test_output/unet_aug_predictions/*

# But re-include the mamogram file in each
!/test_output/evaluation/mamogram
!/test_output/logs/mamogram
!/test_output/models/mamogram
!/test_output/test/mamogram
!/test_output/unet_aug_predictions/mamogram

